html {
	zoom: 0.7;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}	

body {
	font-family: Rubik, sans-serif, PT Sans Narrow, Arial;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	color: #333333;
	background-color: #E5E5E5;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1440px;
	margin:100px auto;
	background-color: #FFFFFF;
}

header, main {
	margin-left: 130px;
	margin-right: 130px;
}

a {
	text-decoration: none;
	color: #333333;
}

.button a {
	color: #ffffff
}

.main-navigation logo {
	font-size: 16px;
	line-height: 19px;
}

.menu-list,
.login-link,
.latest-releases-list,
.genres-list  {
	list-style: none;
}

.main-navigation a,
.menu-list a,
.films-columns a {
	color: #333333;
}

.main-footer a {  
	color: #1F4766;
}

.main-navigation {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	min-height: 40px;
}

.main-navigation b {
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	margin-left: 11px;
}

.main-navigation input {
	border: 1px solid #333333;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding-bottom: 6px;
	padding-top: 11px;
	font: inherit;
	width: 320px;
}

.main-navigation button {
	color: #E5261E;
	font: inherit;
	font-weight: 500;
	margin-left: 32px;
	margin-bottom: 6px;
	margin-top: 11px;
	text-align: center;
	border: 0px;
	background-color: #FFFFFF;
}

.main-navigation form {
	flex-grow: 1;
	padding-left: 207px;
}

.main-navigation .logout-link {
	color: #E5261E;
	font: inherit;
	font-weight: 500;
}

.main-navigation .auth-user {
	padding: 16px;
}

.main-navigation .login-link {
	background: #E5261E;
	border-radius: 4px;
	width: 113px;
	height: 32px;
	text-align: center;
	text-shadow: 0 0 1px #000;
}

.login-link:hover {
	background: #CC221B;
	border-radius: 4px;
}

.main-navigation .search:active {
	color: #333333;
}

.user-navigation a {
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 0px;
	height: 20px;
	width: 50px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.menu a {
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
	text-align: right;
	color: #333333;
	margin: 24px;
}

.menu a:hover {
	text-decoration: underline; 
	color: #E5261E;
}

.menu {
	display: flex;
	justify-content: center;
	margin-left: 24px;
}
 .index-columns ul, li {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 height: 100%;
	 padding-left: 0px;
 }

.latest-releases-list {
	text-align: left;
}

.latest-releases-list img {
	width: 280px;
	border-radius: 6px;
}

.description-wrap {
	background: url("../img/films/once-in-Hollywood.png") no-repeat center top;
	width: 280px;
	margin: 0 auto;
	height: 370px;
}

.description-wrap p {
	opacity: 0;
	font-family: Rubik;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	color: #F2F2F2;	
	transition: .5s ease;
	height: 355px;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: -16px;
	margin: 0px;
	text-shadow: 0 0 1px #000;
}

.description-wrap:hover p {
    opacity: 1;
    background: rgba(0,0,0,0.5);
	cursor: pointer;
	border-radius: 6px;
}


.latest-releases-item,
.genres-list {
	font-size: 20px;
	line-height: 24px;
}

.genres-list .genres-item-1 a {
	width: 280px;
	height: 208px;
	background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
	opacity: 0.8;
	box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
} 

.genres-list .genres-item-1 a:hover {
	opacity: 1;
}

.genres-list .genres-item-2 a {
	width: 280px;
	height: 208px;
	background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
	opacity: 0.8;
	box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
}

.genres-list .genres-item-2 a:hover {
	opacity: 1;
}

.genres-list .genres-item-3 a {
	width: 280px;
	height: 208px;
	background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
	opacity: 0.8;
	box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
}

.genres-list .genres-item-3 a:hover {
	opacity: 1;
}

.genres-list .genres-item-4 a {
	width: 280px;
	height: 208px;
	background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
	opacity: 0.8;
	box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
}

.genres-list .genres-item-4 a:hover {
	opacity: 1;
}

.genres-list img {
	position: absolute;
	padding-left: 116px;
	padding-top: 80px;
}

.genres-list p {
	margin-top: 160px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 0;
	text-shadow: 0 0 1px #000;
}

.main-footer {
	background: #F2F2F2;
	background-size: 100%;
	height: 120px;
	margin-top: 72px;
	padding-top: 10px;
}

.main-footer img {
	position: absolute;
	margin-left: 130px;
	margin-top: 28px;
	padding: 0px;
}

.main-footer p {
	margin-left: 202px;
	font-size: 16px;
	line-height: 30px;
}

.tv-channels-columns h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	padding-top: 21px;
}

.tv-channels-columns div {
	display: inline-block;
	margin-left: 400px;
	line-height: 30px;
}

.tv-channels-columns .current-program {
	color: #E5261E;
}

#scrollwrap {
	height: 696px;
	width: 1200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.first-channel,
.rbk-channel,
.amedia-channel,
.two-two-channel {
	background-color: #F2F2F2;
	position: relative;
	border-radius: 8px;	
	width: 1180px;
	min-height: 162px;
}

.first-channel,
.rbk-channel,
.two-two-channel {
	margin-bottom: 16px;
}

.first-channel img {
	position: absolute;
	margin: 49px 175px;
}

.two-two-channel img {
	position: absolute;
	margin: 56px 143px;
}

.rbk-channel img {
	position: absolute;
	margin: 56px 150px;
}

.amedia-channel img {
	position: absolute;
	margin: 49px 168px;
} 

table {
	text-align: left;
	height: 100%;
	width: 100%;
}

.modal {
	position: fixed;
	display: none;
	background: #FFFFFF;
	opacity: 1;
	border-radius: 8px;
	z-index: 100; 
	width: 304px;
	margin-left: 568px;
	height: 394px;
	top: 300px;
}

.modal-wrapper {
	position: absolute;
	z-index: 101;
	height: auto;
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 30px;
	border-radius: 8px;
}

.overlay {
	background: #333333;
	opacity: 0.6;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	overflow: auto;
}

.modal-show {
	display: block;
}

.modal-login {
	width: 304px;
	max-width: 100%;
	margin-left: 568px;
	height: 394px;
	max-height: 100%;
	top: 300px;
}

.modal-login h2 {
	margin-top: 36px;
	margin-bottom: 24px;
	font-size: 28px;
	line-height: 33px;
	text-align: center;
}

.login-form p {
	margin: 0px;
	margin-bottom: 24px;
}

.login-form input,
.login-form input {
	box-sizing: border-box;
	width: 232px;
	height: 25px;
	padding-bottom: 6px;

	font: inherit;
	color: #333333;

	margin-left: 36px;
	margin-right: 36px;
}

.modal-login input {
	border: 1px solid #333333;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.login-checkbox {
	position: relative;
	padding-left: 60px;
	cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #333333;
}

.login-checkbox input + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #333333;
	border-radius: 4px;
	margin-left: 36px;
}

.login-checkbox input:focus + .checkbox-indicator {
	border-color:  #333333;
}

.login-checkbox input:checked + .checkbox-indicator::before,
.login-checkbox input:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	width: 2px;
	background-color:#E5261E;
}

.login-checkbox input:checked + .checkbox-indicator::before {
	height: 4px;
	margin-left: 4px;
	margin-top: 8px;
	transform: rotate(-45deg);
}

.login-checkbox input:checked + .checkbox-indicator::after {
	height: 11px;
	margin-left: 9px;
	margin-top: 3px;
	transform: rotate(45deg);
}

.login-form .button {
	width: 113px;
	height: 38px;
	background: #E5261E;
	border: 4px solid #E5261E;
	border-radius: 4px;
	margin-left: 96px;
	margin-top: 96px;

	font: inherit;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center
}

.login-form .button:hover {
	background: #CC221B;
	border:#CC221B;;
}